[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = phamvanduc05041996
	email = 106530245+phamvanduc05041996@users.noreply.github.com
